<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/front/classStudent.css" />
    <title>class</title>
  </head>
  <body>
    <div class="container">
      <!-- 최상위 div -->
      <!-- 햄버거 메뉴 -->
      <input type="checkbox" id="trigger" />
      <label for="trigger">
        <!-- 햄버거 세줄 표현 -->
        <span></span>
        <span></span>
        <span></span>
      </label>
      <!-- 클릭시 나타날 사이드바 -->
      <div class="sidebar">
        <p id="menu-title">menu</p>
        <p><a>about</a></p>
        <p><a>guide</a></p>
        <p><a>tech</a></p>
      </div>
      <h1 class="title">I see you 강의 평가 시스템</h1>
      <div class="classDiv">
        <% for(let i = 0; i < data.length; i++) { const datas = data[i]; %> <%
        if(datas) { %>
        <div id="newBtnDiv">
          <form method="POST" action="/class/delete">
            <input
              id="hiddenValue"
              name="hiddenValue"
              type="text"
              value="<%= datas.className %>"
            />
            <button type="submit" id="deleteBtn" onclick="deleteDiv(this)">
              Delete
            </button>
          </form>
          <a href="/getDataPage"
            ><button id="defaultClassBtn"><%= datas.className %></button></a
          >
        </div>
        <% } %> <% } %>
        <button id="classBtn">+</button>
      </div>
    </div>

    <div class="select-container">
      <div class="classBox">
        <div class="formBox">
          <h1 class="classSelectTitle">수업선택</h1>
          <label for="classSearch">수업명</label>
          <input type="text" id="classSearch" name="keyword" /><br />
          <br /><button type="submit" id="searchBtn" onclick="searchSubmit()">
            검색
          </button>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"
  ></script>
  <script src="/front/classStudent.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>
