/* 햄버거 버튼과 메뉴 */
/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* 폰트 */
@font-face {
  font-family: "gong";
  src: url("/front/font/Gong/Gothic/Medium.ttf");
}
@font-face {
  font-family: "nanum";
  src: url("/front/font/NanumSquareRoundB.ttf");
}
@font-face {
  font-family: "gongli";
  src: url("/front/font/Gong/Gothic/Light.ttf");
}
@font-face {
  font-family: "main";
  src: url("/front/font/HS두꺼비체.ttf");
}

.title {
  text-align: center;
}
.body-container {
  text-align: center;
}
.contentBox {
  display: inline-block;
  width: 1000px;
  background-color: #d9d9d9;
  height: 600px;
  border-radius: 3px;
  font-family: "nanum";
  font-size: 20px;
}
.positionBox {
  position: relative;
  top: 70px;
}

/* 바디 */
body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(194deg 26% 50%);
}
.labelBoxLine {
  display: inline;
  float: left;
  margin-left: 136px;
  text-align: left;
  margin-top: 10px;
}
#lectureData {
  position: relative;
  top: 25px;
}
.labelBoxStick {
  display: inline-block;
  float: left;
  margin-left: 136px;
  text-align: left;
}
#lectureDataStick {
  position: relative;
  top: 35px;
}
.progress-bar-real {
  width: 450px;
  height: 30px;
  background-color: white;
  font-weight: 600;
  font-size: 0.8rem;
  position: relative;
  left: 372px;
}

.progress-bar-real .progressReal {
  width: 80%;
  /* 나타내고자 하는 퍼센트 값을 넣으면 됩니다. */
  height: 30px;
  padding: 0;
  text-align: center;
  background-color: #448593;
  color: #111;
  text-align: center;
  position: relative;
}

.progressReal span {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 100px;
  line-height: 0px;
}

.progress-bar-lecture {
  width: 450px;
  height: 30px;
  background-color: white;
  font-weight: 600;
  font-size: 0.8rem;
  position: relative;
  left: 372px;
  top: 23px;
  position: relative;
}

.progress-bar-lecture .progressLecture {
  width: 20%;
  /* 나타내고자 하는 퍼센트 값을 넣으면 됩니다. */
  height: 30px;
  padding: 0;
  text-align: center;
  background-color: #448593;
  color: #111;
}

.progressLecture span {
  position: absolute;
  left: 48%;
  top: 50%;
  display: inline-block;
  height: 100px;
  text-align: center;
  line-height: 0px;
}
